
@tailwind base;
@tailwind components;
@tailwind utilities;


.kalnia {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kdam-thmor  {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #000;
}
/* border-radius: 5px; */

*::-webkit-scrollbar-track:hover {
  background: #000;
}

*::-webkit-scrollbar-track:active {
  background: #000;
}
/* background: linear-gradient(to bottom, #B8C0C2, #B8C0C2, #B8C0C2); */

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

.traffic-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #fff 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}

.traffic-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #fff 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}

