
@tailwind base;
@tailwind components;
@tailwind utilities;


.kalnia {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kdam-thmor  {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #000;
}
/* border-radius: 5px; */

*::-webkit-scrollbar-track:hover {
  background: #000;
}

*::-webkit-scrollbar-track:active {
  background: #000;
}
/* background: linear-gradient(to bottom, #B8C0C2, #B8C0C2, #B8C0C2); */

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000;
}
